:root {
  --light-text-color: rgba(0, 0, 0, 0.9);
  --muted-light-text-color: rgba(0, 0, 0, 0.7);
  --dark-text-color: rgba(255, 255, 255, 0.9);
  --muted-dark-text-color: rgba(255, 255, 255, 0.5);
}

html {
  background-color: #fff;
  color: var(--light-text-color);
}

pre {
  background-color: rgba(0, 0, 0, 0.075);
}

a {
  color: rgb(11, 92, 185);
}

a:visited {
  color: rgb(113, 63, 160);
}

.replies-container {
  border-left: 1px var(--light-text-color) solid;
  transition: border-color 500ms ease-in-out;
}

.replies-container.active {
  border-color: rgb(197, 177, 0);
  transition-duration: 0ms;
}

.muted {
  font-size: 0.9em;
  color: var(--muted-light-text-color);
}

@media (prefers-color-scheme: dark) {
  html {
    background-color: #212121;
    color: var(--dark-text-color);
  }

  pre {
    background-color: rgba(255, 255, 255, 0.075);
  }

  a {
    color: rgb(206, 131, 19);
  }

  a:visited {
    color: rgb(143, 58, 58);
  }

  .replies-container {
    border-left-color: var(--dark-text-color);
  }

  .muted {
    color: var(--muted-dark-text-color);
  }
}
